.sortable {
  cursor: pointer;
  color: #dd5;
}

.warning {
  background-color: #da8a8a;
}

table {
color: #111;
border-radius: 5px;
overflow: hidden;
margin: 12px 0;
min-width: 300px;
background: #dad8d8;
}

.header-row {
  background: #34495E;
  color: #fff
}

th, td {
  text-align: left;
  margin: 5px 10px;
  padding: 6px;
}

.counts {
  color:  white;
  background-color:#34495E;
  padding: 25px;
  border-radius: 2%;
  line-height: 200%;
}

.satelliteBox{
  width: 20%;
  padding: 20px;
  border-radius: 2%;
  overflow: hidden;
  min-width: 250px;
}

h3{
  text-align: center;
}

.span{
  float: right;
}
