.search-form {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 20%;
  padding-left: 25px;
  min-width: 20%;
  display: inline;
}

button {
  margin-left: 10px;
  color: #fff;
  background-color: #009b25;
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 18px;
  cursor: pointer;

}
